.content__professinals {
    padding-top: 80px;
    background-color: rgb(220, 220, 228);
 

}

.filter {
    display: flex;
    justify-content: space-around;
    padding: 30px 20px 0 0;
    margin-bottom: 20px;
}

.content__options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.content__options select {
    padding: 5px;
    color: #3b3b3b;
}

.description__seccion-professionals {
    display: grid;
   
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding: 20px 100px;

}

.description__seccion-professionals img {
    width: 320px;
}

.items__description {

    color: #0e61aa;
    /* padding: 10px; */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   gap: 0.5rem;
}

.content_card {
    display: flex;
    flex-wrap:wrap;
    justify-content: start;
    /* align-content: stretch; */
    flex-shrink: 1;
    padding: 50px 100px;
    column-gap: 1rem;
    row-gap: 1.8rem;
  }

  .card {
    flex: 1;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    text-align: center;
    /* min-width: 280px;
    max-width: 100%;  */
  }

  .large-card{
    min-width: 400px;
  }
  .small-card {
    max-width: 280px;
  }

.content__options select {
    text-align: center;
    font-size: 1rem;
}

.content__options option {
    text-align: center;

    font-size: 1rem;
}

@media (max-width: 790px) {
    .content_card {
        display: grid;
        place-content: center;
    }

    .large-card{
      /* max-width: 500px; */
      min-width: 650px;
      }
      .small-card {
        /* max-width: 500px; */
        min-width: 650px;
      }

}

@media (max-width: 680px) {
  

    .large-card{
      /* max-width: 500px; */
      min-width: 450px;
      }
      .small-card {
        /* max-width: 500px; */
        min-width: 450px;
      }

}


@media (max-width: 480px) {
  

    .large-card{
      /* max-width: 500px; */
      min-width: 260px;
      }
      .small-card {
        /* max-width: 500px; */
        min-width: 260px;
      }

}
