
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    border: 2px solid rgb(222, 215, 215);
    border-radius: 10px;
    /* padding: 20px; */
    /* box-shadow: 5px 3px 3px rgb(149, 149, 149); */
    transition: all 0.2s ease;
    background-color: rgb(203, 201, 201);
    
}

.text__card {
    background-color: rgba(0, 0, 0, 0.432);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 10px;
    padding: 20px;
    /* display: block; */
}

.btn__jobs {
    border: none;
    padding: 15px;
    border-radius: 10px;
    background-color: #0e61aa;
    color: rgb(246, 245, 245);
}

