.content__card {
   
    /* display: flex; */
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 3px 3px rgb(149, 149, 149);
    transition: all 0.2s ease;

}

.card:hover {
    transform: translateY(3px);
    box-shadow: -5px -3px 3px rgb(149, 149, 149);
    border: none;
}

.btn__jobs {
    border: none;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(44, 44, 44);
    color: white;
}