.content__carousel {

    width: 100%;
   
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.img__carousel {
    aspect-ratio: 24/9;
    object-fit: cover;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    
    
}

