.form__login {
    margin: 100px auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background-color: rgb(204, 203, 203);
    border-radius: 20px;
    /* margin: 0 auto; */
    padding: 100px 15px 30px 15px;
}

.item__form-login {
    display: flex;
    flex-direction: column;
    width: 60%;
}



.show__form {
    display: none;
}

.show__form-active {
    display: flex;
}

.indicator__login {
    cursor: pointer;
}