@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}



li {
    text-decoration: none;
    list-style: none;
}

a {
    color: rgb(246, 245, 245);
    text-decoration: none;
    text-transform: uppercase;

}

button {
    cursor: pointer;
    border: none;
}

img {
    width: 100%;
    display: block;
}

nav {
    background-color: #0e61aa;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 20500;
    left: 0;
}

.nav-active {
    color: rgb(177, 177, 177);
}

.btn__send {
    padding: 8px;
    background-color: #ffffff;
    color: #0e61aa;
    border-radius: 10px;
}